@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-color: #ffffff;
    font-family: "Righteous";
}

.title {
    margin: 0 auto;
    margin-top: -1px;
    /* color: #fff897;
    text-shadow: black 0px 0px 2px; */
}

.heading_bar {
    margin-top: 1px;
}

.heading_buttons {
    margin-top: 3%;
}

.tile {
    overflow-x: hidden;
    border-radius: 5px;
    width: 80%;
    height: 150%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
    background-color: #000000be;
    text-transform: uppercase;
    user-select: none;
}

#game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
