@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html {
  height: 100%;
  /*overflow-x: hidden;*/
}

body {
  background-color: #ffffff;
  font-family: "Righteous";
  height: 100%;
  touch-action: manipulation;
}

#game {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  flex-grow: 1.5;
  flex-direction: column;
}

.header {
  position: sticky !important;
  top: 0;
  opacity: 1;
  background-color: white;
  z-index: 999;
}

.title {
  font-size: 2em;
  width: 100%;
  margin-top: -1px;
  margin-right: 10%;
  padding-left: 5px;
  text-align: center;
  transform: translateX(-50%);
  /* color: #fff897;
    text-shadow: black 0px 0px 2px; */
}

.heading_bar {
  margin-top: 1px;
}

#title_div {
  padding: 0px;
}

.heading_buttons {
  margin-top: 3%;
}

.number {
  color: #6c757d;
}

.tile-container {
  max-width: 80%;
  margin-left: 10%;
}

.tile-row {
  flex-wrap: nowrap;
}

.tile {
  overflow-x: hidden;
  border-radius: 5px;
  width: 80%;
  height: 150%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: white;
  background-color: #000000d3;
  text-transform: uppercase;
  user-select: none;
  max-width: 300px;
  transition: transform 250ms linear;
}

.tile.flip {
  transform: rotateX(90deg);
}

.correct {
  background-color: #599959e1;
}

.higher {
  background-color: #266d9c;
}

.lower {
  background-color: #a83030;
}

.tile-placeholder {
  opacity: 0;
}

.first-keyboard {
  max-width: 95%;
  margin-left: 3%;
  margin-top: 2%;
}

.second-keyboard {
  max-width: 95%;
  margin-left: 4%;
}

.third-keyboard {
  max-width: 95%;
  margin-left: 4%;
  margin-bottom: 2%;
}

.key {
  font-size: 1.5rem;
  line-height: 1.5rem;
  max-width: 9%;
  margin-right: 1%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-transform: lowercase;
}

.special-key {
  font-size: 1.5rem;
  line-height: 1.5rem;
  max-width: 12%;
  margin-right: 1%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-transform: lowercase;
}

.keyboard-container {
  overflow: hidden;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  margin-top: 30px;
  height: 25%;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2%;
  padding-top: 0.5%;
  padding-bottom: 1%;
}

#keyboard {
  flex-grow: 4;
  max-width: 520px;
  margin: auto;
  margin-top: 3%;
  background-color: white;
}

.result {
  float: right;
  padding-left: 100px;
  margin-top: -45px;
  pointer-events: none;
}

.result-txt {
  background-color: #000000d3;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 380px) {
  .heading_buttons {
    padding: 4px;
  }
  .key {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .keyboard-container {
    height: 25%;
  }
}

@media (max-height: 700px) {
  .keyboard-container {
    height: 150px;
    padding-top: 0;
  }
  #keyboard {
    height: 150px;
    margin-top: 0;
  }
  .keyboard {
    height: 25px;
  }
}

@media (min-height: 1000px) {
  .keyboard-container {
    position: absolute;
    float: bottom;
  }
}
